{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_list %}

{% block content_title %}
  <h1>Manage {{ cl.opts.verbose_name_plural|title }}</h1>
{% endblock %}

{% block object-tools %}{% endblock %}

{% block search %}
<div class="search-add-row">
  {% search_form cl %}
  {% if has_add_permission %}
    <a href="{% url cl.opts|admin_urlname:'add' %}" class="button search-add-btn">
      {% blocktranslate with name=cl.opts.verbose_name %}Add {{ name }}{% endblocktranslate %}
    </a>
  {% endif %}
</div>
{% endblock %}
